#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.row {
	display: flex;
}

.cell {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	text-align: center;
}

/* The second row  */
.row:nth-of-type(3),
.row:nth-of-type(6) {
	border-bottom: 2px solid black;
}

.cell:nth-of-type(3),
.cell:nth-of-type(6) {
	border-right: 2px solid black;
}
